  body{
  margin: 0;
  padding: 0;
  font-family: Roboto , 'Segoe UI' ,  Tahoma , 'Segoe UI', sans-serif;
  }
  li{
  font-weight: 400px;
  }
  #nav {
  margin:0 auto;
  list-style:none;
  }
  #nav li {
  float:left;
  }
  #nav a {
  display:block;
  text-align:center;
  width:110px; 
  text-decoration:none; 
  color: black;
  padding-top: 10px;
  }
  header{
  display: flex;
  padding-top: 20px;
  height: 60px;
  }
  .one{
  width: 100px;
  float: left;
  }
  .logo{
  padding-left: 30px;
  }
  #nav a:hover{
  background-color: #4477FF;
  cursor: pointer;
  border-bottom: 2px solid black;
  transition: width 2s,height 4s ease-in;
  color: white;
  }
  #dropbtn:hover{
  background-color: #4477FF;
  border-bottom: 2px solid #3a4040;
  transition: width 2s,height 4s ease-in;
  color: white;
  }
  #dropbtn1:hover{
  background-color: #4477FF;
  border-bottom: 2px solid #3a4040;
  transition: width 2s,height 4s ease-in;
  color: white;
  }
  .cta{
  margin-right: 190px;
  border-radius: 4px;
  }
  .cta button {
  padding: 7px 32px;
  border: 2px solid #FFA500;
  background-color: white;
  transition: all 0.3s ease 0s;
  font-size: 15px;
  font-weight: bold;
  border-radius: 4px;
  color: black;
  outline-color: #FFA500;
  cursor: pointer;
  }
  .cta button:hover{
  background-color: #FFA500;
  color: white;
  }
  .continer1{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 600px;
  background-color: #00b1ff1a; 
  justify-content: space-between;
  }
  div.content1{
  height: 400px;
  width: 500px;
  float: 500px;
  padding-top: 20px;
  margin: 30px;
  margin-left: 200px;
  }
  div.content2{
  height: 400px;
  width: 350px;
  padding-top: 50px;
  margin: 40px;
  margin-right: 200px;
  }
  .para{
  font-size: 50px;
  font-weight: bolder;
  padding-top: 20px;
  }
  .para1{
  font-size: 20px;
  font-weight: normal;
  }
  .btn {
  background-color:#F7921E;
  color: white;
  font-size: 15px;
  border: none;
  outline-color:#ff8c00;
  padding: 17px 35px;
  margin-left: 0px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  }
  .btn:hover {
  background-color: #FFA500;
  }
  .dropdown1 {
  display: inline-block;
  position: absolute;
  }
  .btn1 {
  background-color: #FFA500;
  color: white;
  padding: 15.5px 15px;
  border: none;
  outline-color: #FFA500;
  border-radius: 2px;
  cursor: pointer;
  }
  .btn1:after{
  content: ' \2794';
  text-align: center;
  font-size: 15px;
  }
  .para2 a{
  visibility: visible;
  list-style-type: none;
  text-decoration: none;
  color: black;
  line-height: 1em;
  text-align: right;
  padding-top: 30px;
  justify-content: flex-end;
  flex-direction: row;
  display: flex;
  }
  .para2 li {
  display: block;
  font-size: 20px;
  visibility: visible;
  }                
  .para_m a{
  visibility: hidden;
  list-style-type: none;
  text-align: right;
  text-decoration: none;
  color: black;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  }
  .para_m li {
  display: inline-block;
  font-size: 20px;
  visibility: hidden;
  }  
  .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  }
  .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  transition: 0.3s;
  color: black;
  text-align: left;
  font-weight: 500;
  line-height: 40px;
  height: 48px;
  }
  .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  }
  .ma{
  text-align: right;
  padding-left: 100px;
  display: none;
  }
  .continer2{
  justify-content: center;
  padding-top: 40px;
  height: 650px;
  }
  .continer1_benifits{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 945px;
  height: 400px;
  margin-left: 200px;
  border-radius: 2px;
  margin-top: 50px;
  }
  div.content3{
  height: 350px;
  width: 275px;
  float: left;
  margin: 20px;
  font-size: 15px;
  padding-top: 20px;
  cursor: pointer;
  line-height: 1.5em;
  }
  div.content4{
  height: 350px;
  width: 275px;
  float: left;
  margin: 20px;
  font-size: 15px;
  padding-top: 20px;
  cursor: pointer;
  line-height: 1.5em;
  }
  div.content5{
  height: 350px;
  width: 275px;
  float: left;
  margin: 20px;
  font-size: 15px;
  padding-top: 20px;
  cursor: pointer;
  line-height: 1.5em;
  }   
  h3{
  font-size: 30px;
  }
  .border1{
  text-align: center;
  padding-bottom: 30px;
  }
  .border1 a{
  text-align: center;
  border-bottom: 5px solid #4477FF;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 30px;
  }
  .border1 li{
  list-style: none;
  }
  .continer3{
  background-color:  #00b1ff1a; 
  justify-content: center;
  padding-top: 40px;
  height: 700px;
  }
  div.content6{
  height: 500px;
  width: 500px;
  float: left;
  padding-top: 20px;
  margin: 20px;
  }
  div.content7{
  height: 400px;
  width: 400px;
  padding-top: 20px;
  margin: 30px;
  }
  .continer2_benifits{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 945px;
  height: 500px;
  margin-left: 200px;
  border-radius: 2px;
  }
  .two{
  float: left;
  width: 100%;
  padding-top: 30px;
  }
  h1{
  font-size: 20px;
  }
  .continer4{
  background-color:  white;
  justify-content: center;
  padding-top: 40px;
  height: 700px;
  }
  div.content8{
  height: 500px;
  width: 400px;
  float: left;
  padding-top: 20px;
  margin: 20px;
  }
  div.content9{
  height: 400px;
  width: 400px;
  padding-top: 20px;
  margin: 30px;
  background-color: whitesmoke;
  }
  .continer3_benifits{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 945px;
  height: 500px;
  margin-left: 200px;
  border-radius: 2px;
  }
  .continer5{
  background-color:  #00b1ff1a; 
  justify-content: center;
  padding-top: 50px;
  height: 500px;
  }
  .continer4_benifits{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 945px;
  height: 300px;
  margin-left: 200px;
  padding-top: 40px;
  border-radius: 2px;
  }
    div.content10{
    height: 200px;
    width: 160px;
    float: left;
    margin: 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    }
    div.content1:hover .nine{
    visibility: visible;
    }
    div.content11{
    height: 170px;
    width: 160px;
    float: left;
    margin: 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    }
    div.content12{
    height: 170px;
    width: 160px;
    float: left;
    margin: 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    }
    div.content13{
    height: 170px;
    width: 160px;
    float: left;
    margin: 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    }
    div.content14{
    height: 170px;
    width: 160px;
    float: left;
    margin: 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    }
    h2{
    padding-bottom: 30px;
    padding-left: 200px;
    }
    p{
    padding-left: 200px;
    }
    .continer81{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 250px;
    background-color:#4477FF;
    }
    div.content91{
    height: 100px;
    width: 600px;
    float: right;
    padding-top: 80px;
    margin:20px;
    color: white;
    margin-left: 150px;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    }
    div.content92{
    height: 100px;
    width: 300px;
    float: right;
    font-size: 14px;
    margin: 20px;
    margin-left: 100px;
    padding-top: 90px;
    }     
    .header1{
    font-size: 15px;
    color: white;
    }
    .header2{
    font-size: 15px;
    color: white;
    }
    .first_footer{
    display: flex;
    color: white;
    padding-left: 100px;
    flex-direction: nowrap;
    background-color: black;
    height: 250px;
    padding-top: 50px;
    }
    .first_footer ul{
    list-style: none;
    width: 140px;
    }
    .first_footer a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding-top: 30px;
    }
    .btn2 {
    background-color:#F7921E;
    color: white;
    font-size: 16px;
    border: none;
    outline-color:#ff8c00;
    padding: 17px 35px;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    }
    .btn2:hover {
    background-color: #FFA500;
    cursor: pointer;
    }
    .dropdown3 {
    display: inline-block;
    position: absolute;
    }
    .btn3 {
    background-color: #FFA500;
    color: white;
    padding: 16px 15px;
    border: none;
    outline-color: #FFA500;
    border-radius: 2px;
    cursor: pointer;
    }
    .btn3:after {
    content: ' \2794';
    text-align: center;
    font-size: 15px;
    }
    .last_footer ul{
    list-style: none;
    }
    .last_footer li{
    list-style: none;
    display: inline-flex;
    padding: 0px 140px;
    }
    .last_footer a{
    text-decoration: none;
    color:black;
    font-size: 12px;
    }
    .three{
    width: 150px;
    float: left;
    }
    .logo1{
    padding-top: 10px;
    }   
    h8{
    font-size: 20px;
    font-weight: bold;
    margin-left: 200px;
    }  
    h9{
    margin-left: 200px;
    }  
    h10{
    font-size: 25px;
    font-weight: bold;
    color:#4477FF;
    }   
    h11{
    font-size: 15px;
    font-weight: bold;
    } 
    @media only screen and (max-width: 768px){ 
    h8{
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px;
    }  
    h9{
    margin-left: 40px;
    }  
    .three{
    width: 100px;
    }
    .logo1{
    padding-left: 150px;
    }
    .two{
    width: 100%;
    }
    .ma{
    text-align: right;
    padding-left: 1px;
    display: block;
    padding-right: 10px;
    }
    .para2 a{
    visibility: hidden;
    }
    .para2 li{
    visibility: hidden;
    }
    .para_m a{
    visibility: visible;
    list-style-type: none;
    text-decoration: none;
    color: black;
    padding: 10px;
    line-height: 1em;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    }
    .para_m li {
    display: block;
    font-size: 17px;
    visibility: visible;
    }                
    .ma{
    text-align: right;
    padding-left: 5px;
    display: block;
    }
    .sidenav a:hover{
    background-color: whitesmoke;
    }
    header{
    display: flex;
    float: left;
    padding-top: 20px;
    width: 100%;
    padding-left: 5px;
    }
    .cta{
    margin-right: 10px;
    border-radius: 4px;
    }
    .cta button {
    padding: 7px 32px;
    border: 2px solid #FFA500;
    background-color: white;
    transition: all 0.3s ease 0s;
    font-size: 15px;
    font-weight: bold;
    border-radius: 4px;
    color: black;
    outline-color: #FFA500;
    cursor: pointer;
    }
    .cta button:hover{
    background-color: #FFA500;
    }
    #nav{
    list-style: none;
    margin: 20px;
    }
    #nav a{
    display: none;
    }
    .logo{
    float: left;
    }
    .logo{
    padding-left: 1px;
    }
    .continer1{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 550px;
    background-color: #00b1ff1a; 
    }
    div.content1{
    height: 600px;
    width: 300px;
    text-align: center;
    padding-top: 20px;
    margin: 30px;
    margin-left: 20px;
    }
    div.content2{
    display: none;
    }
    .para{
    font-size: 40px;
    font-weight: bolder;
    padding-top: 20px;
    }
    .para1{
    font-size: 15px;
    font-weight: normal;
    }
    .btn {
    background-color:#F7921E;
    color: white;
    font-size: 16px;
    border: none;
    outline-color:#ff8c00;
    padding: 15px 35px;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-align: center;
    }
    .btn:hover {
    background-color: #FFA500;
    }
    .dropdown1 {
    display: inline-block;
    position: absolute;
    }
    .btn1 {
    background-color: #FFA500;
    color: white;
    padding: 14px 15px;
    border: none;
    outline-color: #FFA500;
    border-radius: 2px;
    }
    .btn1:after {
    content: ' \2794';
    text-align: center;
    font-size: 15px;
    }   
    .continer2{
    width: 100%;
    justify-content: center;
    padding-top: 5px;
    height: 1100px;
    margin-top: 20px;
    }
    .continer1_benifits{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    height: 1200px;
    margin-left: 20px;
    border-radius: 2px;
    margin-top: 5px;
    }
    div.content3{
    height: 280px;
    width: 275px;
    float: left;
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
    }
    div.content4{
    height: 280px;
    width: 275px;
    float: left;
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
    }
    div.content5{
    height: 280px;
    width: 275px;
    float: left;
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
    }   
    .border1 a{
    font-size: 20px;
    margin-right: 20px;
    }
    .continer3{
    width: 100%;
    background-color:  #00b1ff1a; 
    justify-content: center;
    padding-top: 40px;
    height: 700px;
    }
    div.content6{
    height: 250px;
    width: 300px;
    float: left;
    padding-top: 20px;
    margin: 5px;
    }
    div.content7{
    height: 300px;
    width: 300px;
    padding-top: 20px;
    margin: 10px;
    }
    .continer2_benifits{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 300px;
    height: 700px;
    margin-left: 20px;
    border-radius: 2px;
    }
    .two{
    float: left;
    width: 100%;
    padding-top: 30px;
    }
    h1{
    font-size: 20px;
    }
    .continer4{
    width: 100%;
    background-color:  white;
    justify-content: center;
    padding-top: 40px;
    height: 700px;
    }
    div.content8{
    height: 280px;
    width: 300px;
    float: left;
    padding-top: 20px;
    margin: 10px;
    }
    div.content9{
    height: 200px;
    width: 280px;
    padding-top: 20px;
    margin: 10px;
    background-color: whitesmoke;
    }
    .continer3_benifits{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 300px;
    height: 600px;
    margin-left: 20;
    border-radius: 2px;
    }
    .continer5{
    width: 100%;
    background-color:  #00b1ff1a; 
    justify-content: center;
    padding-top: 50px;
    height: 1300px;
    }
    .continer4_benifits{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 200px;
    height: 1300px;
    margin-left: 70px;
    padding-top: 40px;
    border-radius: 2px;
    }
    div.content10{
    height: 200px;
    width: 160px;
    float: left;
    margin: 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    }
    div.content10{
    border-bottom: 1px solid #9e9898;
    }
    div.content11{
    border-bottom: 1px solid #9e9898;
    }
    div.content12{
    border-bottom: 1px solid #9e9898;
    }
    div.content13{
    border-bottom: 1px solid #9e9898;
    }
    div.content1:hover .nine{
    visibility: visible;
    }
    div.content11{
    height: 200px;
    width: 160px;
    float: left;
    margin: 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    }
    div.content12{
    height: 200px;
    width: 160px;
    float: left;
    margin: 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    }
    div.content13{
    height: 200px;
    width: 160px;
    float: left;
    margin: 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    }
    div.content14{
    height: 200px;
    width: 160px;
    float: left;
    margin: 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    }
    .continer81{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 250px;
    background-color:#4477FF;
    }
    div.content91{
    height: 50px;
    width: 300px;
    float: right;
    padding-top: 30px;
    margin:20px;
    color: white;
    margin-left: 5px;
    padding-left: 10px;
    font-size: 30px;
    font-weight: bold;
    }
    div.content92{
    height: 100px;
    width: 300px;
    float: right;
    font-size: 14px;
    margin: 10px;
    margin-left: 40px;
    padding-top: 10px;
    }
    .btn2{
    margin-left: 20px;
    }
    h12{
    color:  #4477FF;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    }
    h13{
    font-weight: bold;
    }
    .header1{
    font-size: 15px;
    color: white;
    }
    .header2{
    font-size: 15px;
    color: white;
    }
    .first_footer{
    display: inline-block;
    color: white;
    padding-left: 1px;
    flex-direction: wrap;
    background-color: black;
    width: 100%;
    height: 600px;
    padding-top: 20px;
    justify-content: center;
    }
    .first_footer ul{
    list-style: none;
    width: 100px;
    }
    .first_footer a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    }
    .last_footer{
    display: inline-flex;
    width: 100%;
    padding-top: 10px;
    height: 20px;
    font-size: 10px;
    font-family:   Roboto , 'Segoe UI' , Tahoma , 'Segoe UI', sans-serif;
    margin-right: 20px;
    padding-bottom: 10px;
    } 
    .last_footer ul{
    list-style: none;
    }
    .last_footer li{
    list-style: none;
    display: inline-flex;
    padding: 0px 4px;
    }
    .last_footer a{
    text-decoration: none;
    color:black;
    font-size: 9px;
    }
    .first_button{
    margin-right: 40px;
    }
    }
                             
                                           
                              
                                          